#page-register {
    width: 100vw;
    height: 100vh;
}

#page-register-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.page-register-main {
    margin-top: -10rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::placeholder {
    color: var(--color-text-complement);
    font-size: 2rem;
}

main>div {
    text-align: left;
    margin-left: -8rem;
    font: 600 1.25rem Poppins;
}

main .button-back {
    margin-left: -24rem;
}

main fieldset {
    border: none;
    width: 80%;
}

main button {
    width: 78%;
    height: 5.6rem;
    border-radius: 0.8rem;
    border: 1px solid var(--color-secundary-dark);
    background: var(--color-secundary);
    font: 600 1.8rem Archivo;
    line-height: 2.8rem;
    color: var(--color-title-in-primary);
    text-align: center;
    cursor: pointer;
}

main button:hover {
    background: var(--color-secundary-dark);
}

#show-logo-web {
    display: none;
}

@media(min-width: 1100px) {
    #page-register {
        width: 100%;
        align-items: center;
    }
    #page-register-content {
        display: grid;
        grid-template-columns: 100% 100%;
        grid-template-rows: auto;
    }
    .page-register-main {
        margin-top: 3rem;
        margin-right: 4rem;
    }
    main {
        margin: 8rem auto;
        padding-left: 8rem;
    }
    main>div {
        text-align: left;
        margin-left: -30rem;
    }
    main .button-back {
        margin-left: -41.3rem;
    }
    main fieldset {
        border: none;
        width: 80%;
    }
    #show-logo-web {
        display: inherit;
        margin-right: -11.8rem;
    }
    #show-logo-mobile {
        display: none;
    }
}