#logo-component {
    height: 23rem;
    width: 100%;
    background-color: var(--color-primary);
    padding: 7rem 8.5rem;
}

#logo-component img {
    width: 20rem;
}

#logo-component p {
    color: var(--color-text-in-primary);
}

@media(min-width: 1100px){
    #logo-component {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
    }
    #logo-component img {
        width: 30rem;
    }
    #logo-component p {
        align-self: flex-start;
        margin-left: 10rem;
        padding-left: 5rem;
    }
}